<div class="container">
	<h1 class="title">Restaurants</h1>
	<div class="restaurants">
		<% @restaurants.each do |restaurant| %>
			<%= link_to restaurant.name, restaurant_path(restaurant), class: "fit-content restaurant-name"%>
			<p class="restaurant-category"><%= restaurant.category.capitalize %> <small>(phone: <%= restaurant.phone_number %>)</small></p>
		<% end %>
	</div>
</div>